<div class="content">
  <h1 class="main-header">Welcome to</h1>

  <%= image_tag "open_source_logo_large.png", alt: "logo", class: "logo-lg" %>

  <!-- <div class="enter-site">Enter Site</div> -->


 <div class="modal">
   <label for="learn-more-modal">
     <span class="learn-more">Learn More</span>
   </label>
   <input class="modal-state" id="learn-more-modal" type="checkbox" />
   <div class="modal-window">
     <div class="modal-inner">
       <label class="modal-close-x" for="learn-more-modal"></label>
       <h1>Making Thanksgiving Easier</h1>
       <p class="intro">Welcome! This site is open sourced and totally under construction.
       </p>
       <p class="body">Planning a big meal for the holidays is stressful for a lot of people. Most of the time, stress
         comes from not knowing how to cook different dishes, trying to cook too many things at once, and struggling with those
         finishing touches.</p>

       <p class="body">  Open Source Thanksgiving is an answer to holiday stress. We're open sourcing our own Thanksgiving meal planning
         processes, tips, and resources to help create a space where everyone can feel more excited about the big day. </p>

       <p class="body">  For the more advanced user, we've decided to open source the app in the true sense of word: feel free to look
         through the <a href="https://github.com/venetucci/OpenSourceThanksgiving" target="_blank">Github repo</a> or read about the
         <a href="http://www.anaperitif.com/an-open-source-thanksgiving-an-introduction/" target="_blank">process</a>!</p>
       <label class="modal-close" for="learn-more-modal"></label>
       <label class="got-it" for="learn-more-modal">Ok, Got it!</label>
     </div>
   </div>
 </div>

</div>