<div class="content">
  <h1 class="main-header">Welcome to</h1>

  <%= image_tag "open_source_logo_large.png", alt: "logo", class: "logo-lg" %>

  <!-- <div class="enter-site">Enter Site</div> -->


 <div class="modal">
   <label for="learn-more-modal">
     <span class="learn-more">Learn More</span>
   </label>
   <input class="modal-state" id="learn-more-modal" type="checkbox" />
   <div class="modal-window">
     <div class="modal-inner">
       <label class="modal-close-x" for="learn-more-modal"></label>
       <h1>Making Thanksgiving Easier</h1>
       <p class="intro">Welcome! This site is open sourced and totally under construction.
       </p>
       <p class="body">Planning a big meal for the holidays is stressful for a lot of people. Most of the time, stress
         comes from not knowing how to cook different dishes, trying to cook too many things at once, and putting on those
         finishing touches. After doing this for a few years, we wanted to create a space to share tips, resources, and
         sample meals.</p>
       <p class="body">We're still under construction. While you wait, feel free to contribute on
         <a href="https://github.com/venetucci/OpenSourceThanksgiving">Github</a>!</p>
       <label class="modal-close" for="learn-more-modal"></label>
       <label class="got-it" for="learn-more-modal">Ok, Got it!</label>
     </div>
   </div>
 </div>

</div>