.content {
  @include outer-container;
  margin-bottom: $buffer-lg;
}

// The code for the object that has the texture.



html {
  // @include texture(180deg, #f9f5ed, #f9f5ed, 67, 1);
  // gradient color 1, gradient color 2, gradient angle, texture-number, 0=inverted or 1=normal
}

.logo-lg {
  @include span-columns(6);
  @include shift(3);
}

.main-header {
  text-align: center;
  margin-bottom: $buffer-lg;
  margin-top: $buffer-lg;
}

.enter-site {
  @include button("primary");
}