<footer class="footer">
  <div class="footer-links">
    <ul>
      <li><h3>Fun Stuff</h3></li>
      <li><a href="http://www.anaperitif.com/" target="_blank">An Aperitif</a></li>
      <li><a href="http://www.juliantescher.com" target="_blank">So Wow</a></li>
    </ul>
    <ul>
      <li><h3>Contribute</h3></li>
      <li><a href="https://github.com/venetucci/OpenSourceThanksgiving" target="_blank">Github</a></li>
      <!-- <li><%= mail_to "michelle.ann.harvey@gmail.com", "Contact" %></li> -->
    </ul>
    <ul>
      <li><h3>Follow Us</h3></li>
      <li><a href="http://www.twitter.com/spinningspoons" target="_blank">Michelle</a></li>
      <li><a href="http://www.twitter.com/jatescher" target="_blank">Julian</a></li>
    </ul>
  </div>

  <hr>

  <p>This site is currently under construction</p>
  <p>&copy; <%= Date.today.year %> Open Source Thanksgiving</p>
</footer>